*.dll
*.exe
.DS_Store
bin/
dist/
modules-dev/
/pkg/
*~
.*.swp
*.iml
*.test
*.iml

# Backups
*.backup
*.bak

# Log files
*.log

# Website
website/vendor
website/.vagrant
website/.bundle
website/build
website/node_modules

# Terraform artifacts
./*.tfstate
.terraform/
example.tf
terraform.tfplan
terraform.tfstate

# IDE
/.vscode
.idea

# Vagrant
.vagrant/

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
