*.dll
*.exe
.DS_Store
bin/
dist/
modules-dev/
/pkg/
*~
.*.swp
*.iml
*.test
*.iml
vendor/

# Backups
*.backup
*.bak

# Log files
*.log

# Gitlab
.gitlab-ci.yml

# Website
website/vendor
website/.vagrant
website/.bundle
website/build
website/node_modules

# Terraform artifacts
./*.tfstate
.terraform/
example.tf
terraform.tfplan
terraform.tfstate

# IDE
/.vscode
.idea

# Vagrant
.vagrant/

# tmp directory
golangci-lint/

# Test exclusions
test.txt
coverage.txt
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
